<div class="row">
  <%= for episode <- @episodes do %>
  <div class="col-lg-2">
    <img src="<%= AppscoastFm.EpisodeThumbnail.url({episode.thumbnail, episode}) %>" width="250">
  </div>
  <div class="col-lg-6">
    <audio preload="auto" src="<%= AppscoastFm.EpisodeAudio.url({episode.audio_file, episode}) %>" />
  </div>
  <% end %>

</div>
